<h2>Edit Historical Landmark</h2>

<!-- add content here -->

<form method="POST" action='/landmarks/<%=@landmark.id%>'>
    <input type="hidden" name="_method" value= "patch">
    <input type="text" name="landmark[name]" value="<%=@landmark.name%>">
    <input type="integer" name="landmark[year_completed]" value="<%=@landmark.year_completed%>">
    <input type="submit" value="Edit Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
