
<body>
<form method="POST" action="/figures">
    <label for="figure[name]"> Name: </label>
    <input type="text" name="figure[name]">

    <h2>Titles</h2>
    <% @titles.each do |title|%>
    <br> <%=title.name%> <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"> 
    <%end%>

    <h2>Create New title:</h2>
    <!--if works cool, if not ok title[name]-->
    <input type="text" name="title[name]">

    <h2>Landmarks</h2>
    <% @landmarks.each do |landmark|%>
    <br> <%=landmark.name%> <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"> 
    <%end%>

    <h2>Create New Landmark:</h2>
    <label for="landmark[name]"> Name: </label>
    <input type="text" name="landmark[name]">
    <label for="landmark[year_completed]"> Year: </label>
    <input type="text" name="landmark[year_completed]">

    <input type="submit" value="Create New Figure">
</form>
</body>

